@model Educational_Center.Data.ViewModels.StudentUpdateViewModel

@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>

<form asp-action="StudentCreate" asp-controller="User" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Student.Photo"></label>
        <input asp-for="Student.Photo"/>
    </div>

    <div>
        <label asp-for="Student.FirstName"></label>
        <input asp-for="Student.FirstName" />
    </div>

    <div>
        <label asp-for="Student.LastName"></label>
        <input asp-for="Student.LastName" />
    </div>

    <div>
        <label asp-for="Student.DateOfBirth"></label>
        <input asp-for="Student.DateOfBirth" type="date" />
    </div>

    <div>
        <label asp-for="Student.Age"></label>
        <input asp-for="Student.Age" />
    </div>

    <div>
        <label asp-for="Student.ContactNumber"></label>
        <input asp-for="Student.ContactNumber" />
    </div>

    <div>
        <label asp-for="Student.CourseId"></label>
        <select asp-for="Student.CourseId" asp-items="new SelectList(Model.Courses, nameof(Educational_Center.Models.Course.CourseId), nameof(Educational_Center.Models.Course.CourseName))"></select>
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
</form>

<a class="btn btn-secondary" asp-controller="User" asp-action="StudentView">Back to Student View</a>